---
import Layout from '~/layouts/PageLayout.astro';
import { SITE } from '~/utils/config';
import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
// import Steps from '~/components/widgets/Steps.astro';
// import Content from '~/components/widgets/Content.astro';
import Profile from '~/components/widgets/Profile.astro'
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import { YouTube } from '@astro-community/astro-embed-youtube';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';

const metadata = {
  title: 'Beluga Freediving - Course เรียนฟรีไดฟ์ - กรุงเทพมหานคร',
  ignoreTitleTemplate: true,
};
const lineLink = SITE.contact.line;
const telURI = SITE.contact.telURI;
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    
    actions={[
      {
        variant: 'primary',
        text: 'สอบถามทาง Line',
        href: lineLink,
        target: '_blank',
        icon: 'Line-logo',
      },
      { text: 'โทรปรึกษาฟรี', variant:'secondary', href: telURI, icon:'lets-icons:phone-light' },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'Image of a group of freediver!'}}
  >
  <Fragment slot="title">
    <span>
    คอร์ส
    <span class="text-primary dark:text-white highlight"> เรียนฟรีไดฟ์</span> กทม สอนโดยครูฟรีไดฟ์<span class="text-secondary dark:text-white highlight"> สถิติประเทศไทย!</span></span>
    
  </Fragment>

    <Fragment slot="subtitle">
      
      <span class="block mb-1 font-bold text-blue-600">กรุงเทพมหานคร และ เกาะเต่า</span>
      ปรึกษาได้ฟรี!
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <Content
  image={{
    src: '~/assets/images/pracha-podium-square.png',
    alt: 'Colorful Image',
  }}
>
<Fragment slot="content">
<h2>STET!</h2>

</Fragment>
</Content>
<WidgetWrapper
  id='dynb-200m-youtube'
  isDark={false}
  containerClass={`max-w-7xl mx-auto`}
>

<div class="mx-auto max-w-7xl p-4 md:px-8">
  <div class={`md:gap-16`}>
<YouTube class="rounded-2xl" id="bXSkIYmnOqY" />

  </div></div></WidgetWrapper>
  <!-- Features2 Widget ************** -->
  <Features2
    title="คอร์สเรียนฟรีไดฟ์"
    subtitle="คอร์สเรียนกลุ่มเล็ก จัดที่กรุงเทพ, แสมสาร และ เกาะเต่า"
    tagline="Freediving Course"
    items={[
      {
        title: 'ทดลองเรียนฟรีไดฟ์',
        subtitle: `ราคา 2,500`,
        description:
          "สำหรับผู้ที่อยากรู้ว่าตัวเองเหมาะกับ Freedive ไหม คอร์สให้ลองเรียน Freedive 3 ชั่วโมง เพื่อได้ลองดำ Freedive ได้ลองใช้อุปกรณ์",
        icon: 'Try-Freedive',
        callToAction:{
          target:'_blank',
          text: 'ลงเรียน',
          href: lineLink,
          icon: 'tabler:checklist',
          class:'btn-primary'
        },
        callToAction2:{
          target:'_blank',
          text: 'รายละเอียด',
          href: lineLink,
          icon: 'tabler:list-details',
        }
      },
      {
        title: 'Private Pool Training',
        subtitle: 'ราคา 2,500 บาท',
        description:
          'สำหรับผู้ที่ต้องการซ้อม Reskill หลังไม่ได้ Freedive มานาน หรือ ผู้ที่ต้องการพัฒนาความสามารถให้ดำได้ไกลขึ้นลึกขึ้น และ ปรับเทคนิคระยะเวลา 3 ชม',
        icon: 'B3',

        callToAction:{
          target:'_blank',
          text: 'ลงเรียน',
          href: lineLink,
          icon: 'tabler:checklist',
          class:'btn-primary'
        },
        callToAction2:{
          target:'_blank',
          text: 'รายละเอียด',
          href: lineLink,
          icon: 'tabler:list-details',
        }
      },
      {
        title: `คอร์สผู้เริ่มต้น`,
        subtitle: `Lap 1 - ราคา 5,900 บาท`,
        subtitle2: `Wave 1 - ราคา 8,900 บาท`,
        description: "คอร์สสำหรับผู้เริ่มต้น สำหรับคนที่ไม่เคยเรียน Freedive มาก่อน เรียนเพื่อที่จะสามารถดำน้ำได้ลึก 12-20 เมตร สามารถดำน้ำชมปะการัง และ ถ่ายรูปใต้น้ำได้",
        icon: 'W1',

        callToAction:{
          target:'_blank',
          text: 'ลงเรียน',
          href: lineLink,
          icon: 'tabler:checklist',
          class:'btn-primary'
        },
        callToAction2:{
          target:'_blank',
          text: 'รายละเอียด',
          href: lineLink,
          icon: 'tabler:list-details',
        }
      },
      {
        title: 'Private Pool Training',
        subtitle: 'Lap 2 - 9,800 บาท',
        subtitle2: 'Wave 2 - 15,900 บาท',
        description:
          'สำหรับผู้ที่ต้องการซ้อม Reskill หลังไม่ได้ Freedive มานาน หรือ ผู้ที่ต้องการพัฒนาความสามารถให้ดำได้ไกลขึ้นลึกขึ้น และ ปรับเทคนิคระยะเวลา 3 ชม',
        icon: 'W2',

        callToAction:{
          target:'_blank',
          text: 'ลงเรียน',
          href: lineLink,
          icon: 'tabler:checklist',
          class:'btn-primary'
        },
        callToAction2:{
          target:'_blank',
          text: 'รายละเอียด',
          href: lineLink,
          icon: 'tabler:list-details',
        }
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features Widget *************** -->
  <Features
    id="why-beluga-freediving"
    tagline="Why Beluga Freediving?"
    title="ทำไมถึงต้องเรียน Freediving กับ Beluga?"
    subtitle="ความแตกต่างของโรงเรียนเรา"
    items={[
      {
        title: 'การสอนที่เข้มข้น',
        description:
          'จากประสบการณ์การดำน้ำและการสอนของทีมครูที่ทักษะฟรีไดฟ์ระดับ Top ของประเทศ พร้อมมาแชร์ประสบการณ์จริงให้กับนักเรียน',
          icon: 'fa-solid:swimmer',
      },
      {
        title: 'รูปถ่ายใต้น้ำ สวยๆ',
        description:
          'เรามีกล้องสำหรับถ่ายภาพใต้น้ำตอนเรียนและตอนไป Trip พร้อมมีทีมแต่งภาพให้ออกมาดูดีเหมาะสำหรับไปโพสลง Social',
        icon: 'tabler:camera',
      },
      {
        title: 'คำแนะนำและส่วนลดสำหรับซื้ออุปกรณ์',
        description:
          'fins รุ่นไหนดี Wetsuit เลือกยังไง? เรามีคำตอบให้ พร้อมส่วนลด brand ดังสูงสุด 15% เช่น Waterpro, Garmin, Molchanovs และ อื่นๆ',
        icon: 'tabler:scuba-mask',
      },
      {
        title: 'Community & Trips',
        description:
          'พบกับกลุ่มเพื่อนๆ ที่ชอบการดำน้ำแบบฟรีไดฟ์ ที่พร้อมจะเป็น Buddy ตอนซ้อมในสระ หรือ ในทะเล และ เป็นเพื่อนร่วม Trip',
        icon: 'iconoir:community',
      },
    ]}
  />

  <Profile
  id="meet-your-instructor"
  title="ครูผู้สอน"
  tagline="Meet Your Instructor"
  subtitle="รู้จักครูผู้สอนของโรงเรียน Beluga Freediving"
  items={[
    {
      title: 'DYNB National Record Holder',
      description:'ผู้ถือสถิติประเทศไทยด้านการดำน้ำแบบใส่ฟิน',
      icon: 'tabler:medal-2',
    },
    {
      title: 'DYNB 200m',
      description:'ดำน้ำแบบใส่ฟินระยะทาง 200m'
    },
    {
      title: 'DNF 125m',
      description:'ดำน้ำแบบไม่ใส่ฟินระยะทาง 125m'
    },
    {
      title: 'STA 5:00 นาที',
      description:'กลั้นหายใจ 5 นาที'
    },
  ]}
  bottomColumns={3}
  bottomItems={[
    {
      icon: 'tabler:brand-youtube',
      callToAction: {
        target: '_blank',
        text: 'Youtube',
        href: 'https://youtube.com/playlist?list=PLPIud62AFmgtksbhOPfE21SGDMOO2NDdF',
      },
    },
    {
      icon: 'tabler:brand-instagram',
      callToAction: {
        target: '_blank',
        text: 'Instagram',
        href: '#',
      },
    },
    {
      icon: 'tabler:brand-facebook',
      callToAction: {
        target: '_blank',
        text: 'Facebook',
        href: '#',
      },
    },
  ]}
  image={{
    src: '~/assets/images/pracha-profile.webp',
    alt: 'Pracha Saensuk profile',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">ครูตุน</h3>
    <h4 class="text-primary text-xl">Molchanovs  Freediving Instructor</h4>
    <p>
      นักกีฬาฟรีไดฟ์ระดับประเทศ พร้อมประสบการ์สอน Freediver หลายๆคน และ Coach หลายๆคนให้ดำได้ 100m และ กลั้นหายใจมากกว่า 5 นาที
    </p>
    <h3 class="mt-2 mb-0 text-primary text-xl">สถิติ และ ประสบการณ์:</h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Profile>

<Content
    isReversed
    tagline="Why choose Molchanovs?"
    title="ทำไมต้องหลักสูตร Molchanovs?"
    items={[
      {
          "title": "การออกแบบหลักสูตร",
          "description": "โดยนักแข่ง Freedive ระดับโลก เช่น Alexey Molchanovs, Adam Stern, และ Florian Dagoury"
      },
      {
          "title": "ประสบการณ์และวิจัย",
          "description": "อิงจากประสบการณ์ของนัก Freedive ระดับโลกและงานวิจัยทางวิทยาศาสตร์การกีฬา"
      },
      {
          "title": "การอัพเดทหลักสูตร",
          "description": "อย่างต่อเนื่องด้วยสาระทันสมัยและค้นพบใหม่ๆ"
      },
      {
          "title": "เนื้อหาหลักสูตร",
          "description": "เหมาะสำหรับการดำน้ำ Freedive อย่างถูกต้องและปลอดภัย"
      },
      {
          "title": "ระบบ Base Training",
          "description": "หลังจากเรียนจบ มีตารางซ้อมเพิ่มความอึด, เทคนิคการ Freedive, และความยืดหยุ่นของร่างกาย"
      }
  ]
  }
    image={{
      src: '~/assets/images/alexey-profile.webp',
      alt: 'Colorful Image',
    }}
  />
  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="พบกับบทความดีๆ เกี่ยวกับฟรีไดฟ์"
    information={`รวบรวมบทความที่เป็นประโยชน์สำหรับนักฟรีไดฟ์`}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="คำถามที่พบบ่อย"
    subtitle="แหล่งรวบรวมคำถามที่พบบ่อย"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl bg-blue-50', }}
    items={[
      {
        title: 'ว่ายน้ำไม่เป็นสามารถเรียนฟรีไดฟ์ได้ไหม?',
        description:
          "ถึงว่ายน้ำไม่เป็นก็สามารถเรียนได้ฟรีไดฟ์ได้ เพราะเนื่องจากจะมีการสอนทักษะการตีฟินเพิ่มขึ้นมาให้อยู่แล้ว แต่บางหลักสูตรของเรา เช่นหลักสูต Molchanovs จำเป็นต้องว่ายน้ำได้ต่อเนื่องติดต่อกันได้ 200m ซึ่งทางครูเราสามารถสอนพื้นฐานการว่ายน้ำแบบง่ายๆได้ เพื่อให้ผ่านเกณฑ์ 200m",
      },
      {
        title: 'อายุเยอะสามารถเรียนฟรีไดฟ์ได้ไหม?',
        description:
          'สามารถเรียนได้ ถ้ามีสุขภาพแข็งแรงและ ไม่มีโรคประจำตัว ในกรณีที่มีโรคประจำตัวทางเราจะมีแบบสอบถามทางการแพทย์เพื่อให้แพทย์ได้ตรวจสุขภาพและประเมินว่าสามารถเรียนฟรีไดฟ์ได้หรืิไม่ ถ้าแพทย์อนุญาตการสามารถเรียนได้เลย',
      },
      {
        title: 'ต้องเรียนหลักสูตรไหน?',
        description:
          "สำหรับผู้เริ่มต้นแนะนำให้เรียนหลักสูตร Lap1/Wave1 ก่อนซึ่ง 2 คอร์สนี้เป็นคอร์สปูพื้นฐานสำหรับผู้เริ่มต้น สำหรับผู้ที่เคยเรียนคอร์ส Lap1/Wave1 หรือ Level1 จากสถาบันอื่น สามารถมา upgrade เป็น Lap2/Wave2 ได้",
      },
      {
        title: "สถานที่เรียนที่ไหน?",
        description:
          "สระที่ใช้เรียนจะเป็นสระในกทมซึ่งมีหลายสระเช่น สระมหิดลศาลายา, สระ Seascout เทอดไท 77, สระ Sivalai จรัญ 12 และ สระอื่น โปรดสอบถามแอดมินเพิ่มเติม",
      },
      {
        title: 'เปิดคอร์สเรียนวันไหนบ้าง?',
        description:
          "โดยปกติคอร์สเรียนจะมีทุกเสาร์ อาทิตย์ แต่สามารถเรียนวันธรรมดาได้ โปรดสอบถามแอดมินเพิ่มเติม",
      },
      {title: 'อะไรคือข้อดีของการดำน้ำแบบฟนีไดฟ์',
      description: 'Freedive มีความพิเศษตรงที่ว่าทุกครั้งที่มีการกลั้นหายและหน้าของเราโดนน้ำปฏิกิริยารีเฟล็กซ์ขณะดำน้ำของสัตว์เลี้ยงลูกด้วยนมจะทำงานทำให้หัวใจเต้นช้าลง และทำให้เรารู้สึกสงบมากขึ้นเวลาดำน้ำ และ ด้วยความที่ว่า Freedive ไม่มีถัง Oxygen ช่วยจึงเป็นเหมือนกีฬาที่ต้องมีการออกแรงตี fins เพื่อดำลงลึกและตีกลับขึ้น หลายๆคนใช้การฝึกในสระเป็นการออกกำลัง แทนการไปวิ่ง หรือ เข้า Fitness'
      }
      ]}
  />


  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'ติดต่อทาง Line',
        href: lineLink,
        target: '_blank',
        icon: 'tabler:checklist',
      },
    ]}
  >
    <Fragment slot="title">
      ปรึกษา และ<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">สมัครเรียน</span>
    </Fragment>

    <Fragment slot="subtitle">
      ติดต่อสอบถามเพิ่มเติมได้ใน Line@ <br class="hidden md:inline" />ของ Beluga Freediving
    </Fragment>
  </CallToAction>
</Layout>
