---
import Layout from '~/layouts/PageLayout.astro';
import Button from '~/components/ui/Button.astro'
import type { MetaData } from "~/types";

const metadata: MetaData = {
  title: 'ลงทะเบียนเรียน',
  robots: {
    follow: false,
    index: false,
  }
};
---

<Layout metadata={metadata}>
<Fragment slot='header'>
  <script>
  import liff from '@line/liff';
    liff.init({
      liffId: '2002539170-xdV7V55g', // Use own liffId
      //withLoginOnExternalBrowser: true, // Enable automatic login process
  }).then(async () => {
    const profile = await liff.getProfile();
    console.log(profile);
    // liff.login();
      // Start to use liff's api
  }).catch( (e) => {
    console.log(e);
    // liff.login();
  });
  </script>
</Fragment>
<Button href="https://liff.line.me/2002539170-xdV7V55g/add-line?test=edksiwjjsi">สมัคร</Button>
</Layout>
