---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, footerData } from '~/navigation';
import { YouTube } from '@astro-community/astro-embed-youtube';
import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
  loadYoutubeScript?: boolean;
}

const { metadata,loadYoutubeScript } = Astro.props;
loadYoutubeScript
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} isSticky />
  </slot>
  <main>
    <slot />
  </main>
  {false && <div><YouTube class="rounded-2xl" id="bXSkIYmnOqY" /></div>}
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
