---
import Button from "./Button.astro";
import { SITE, } from '~/utils/config';
import WidgetWrapper from "./WidgetWrapper.astro";
const line = SITE.contact.line
---
<WidgetWrapper
  isDark={false}
  containerClass={`line-chat-button hidden md:hidden max-w-7xl mx-auto p-2`}
>
<Button class="line-chat-button w-full hidden md:hidden text-center text-sm" icon="tabler:arrow-back-up" variants="link" href={line}>กลับสู่ Line</Button>
</WidgetWrapper>
